{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}



    <h1>Profesores</h1>
    <form action="profesores" method="POST"> 
        {% csrf_token %}
        <p>Nombre:</p>
        <input type="text" name="nombre">
        <p>Apellido:</p>
        <input type="text" name="apellido">
        <p>Email:</p>
        <input type="email" name="email">
        Profesion:
        <input type="profesion" name="profesion">
       
        <input type="submit" value="Send">
       
       </form>

  

{% endblock %}